/******Navbar*****/
#navigatieWork{
    display: flex;
    justify-content: center;
}

#navigatieWork p{padding:1%}

#navigatieWork, #workTitle{
    text-align: center;
}

/******General*******/

#workContainer{
    display: flex;
    flex-wrap: wrap;

}
.worksPost{
    width: 50%;
    height: auto;
}

p{
    font-family: contralto-big, sans-serif;
}

.worksTitles{
    font-weight: 800;
}
.worksDescriptions{
    font-style: italic;

}
.worksImages{
    width: 80%;
    height: auto;
}
.worksLinks{
    text-decoration: none;

}