/******Navbar*****/
#navigatieWork{
    display: flex;
    justify-content: center;
}

#navigatieWork p{padding:1%}

#navigatieWork, #workTitle{
    text-align: center;
}

/******General*******/

#workContainer{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    
  
}
.worksPost{
    margin:1%;
    background-color: rgb(221, 160, 85);
    width: 40%;
    height: auto;
}

p{
    font-family: contralto-big, sans-serif;
    
}

.worksTitles{
    font-weight: 800;
}
.worksDescriptions{
    font-style: italic;

}
.worksImages{
    width: 80%;
    height: auto;
}
.worksLinks{
    text-decoration: none;

}